.metadata
bin/
tmp/
build/
build-tests/
.vscode/
*.tmp
*.bak
*.swp
*~.nib
*.pyc
local.properties
.settings/
.loadpath
.recommenders

# External tool builders
.externalToolBuilders/

# Locally stored "Eclipse launch configurations"
*.launch

# PyDev specific (Python IDE for Eclipse)
*.pydevproject

# CDT-specific (C/C++ Development Tooling)
.cproject

# CDT- autotools
.autotools

# build directories
Debug/
Release/